* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: scroll;
}
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.rm-navbar {
  display: flex;
  place-content: flex-end;
}
p {
  line-height: 33px;
  opacity: 0.8;
  margin-bottom: 25px;
}
.rm-navbar {
  background-color: #722ed1;
}
.rm-navbar li,
.rm-navbar a {
  transition: color 120ms ease;
  color: white;
}
.rm-navbar a:hover {
  color: #42a4ff;
}
.my-navbar {
  padding: 0;
  display: grid;
  place-content: flex-end;
  place-items: baseline flex-end;
  place-items: baseline center;
  text-align: center;
  width: 40%;
  grid-template-columns: repeat(7, 1fr);
}
.my-navbar ul,
.my-navbar,
.my-navbar li * {
  text-decoration: none;
  list-style: none;
}
.my-navbar li {
  overflow: hidden;
}
.my-navbar .rm-submenu-button {
  display: none;
}
.my-navbar li:hover {
  overflow: visible;
}
.my-navbar li:hover > ul {
  opacity: 1;
}
.my-navbar > li > ul {
  display: grid;
  position: absolute;
  transition: opacity 0.2s ease;
  opacity: 0;
  padding: 0;
  padding-top: 10px;
  row-gap: 5px;
  display: none;
}
.outer-wrap-main,
.outer-wrap-footer {
  padding: 0 20vw;
}
figure {
  margin: 0;
}
.site-logo,
.site-logo-text,
.region-header-col-3,
.rm-mobile,
.region-flash,
.next-previous,
.outer-wrap-breadcrumb,
.level-0 {
  display: none;
}
ul.toc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 80px;
}
li.selected * {
  color: cornflowerblue;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li * {
  text-decoration: none;
  color: black;
}
ul li {
  margin-bottom: 10px;
}
